<%= form_with url: meetups_path, method: :post, autocomplete: "off", class: "horizontal-form", data:{ controller: "datepicker", datepicker_disabled_dates_value: [].to_json} do %>

  <div class="horizontal-form-input-fields-container">

    <div id="first-city" class="relative" data-controller="airport-autocomplete">
        <i class="fa-solid fa-magnifying-glass"></i>
        <%= text_field_tag :fly_from_1,
          params[:fly_from_1],
          class: "search-input-midpoint ps-5 autocomplete",
          placeholder: "First city",
          "data-action": "selection->airport-autocomplete#complete",
          "data-airport-autocomplete-target": "inputField",
          autocomplete: "off"
        %>
    </div>

    <div id="second-city" class="relative"  data-controller="airport-autocomplete">
        <i class="fa-solid fa-magnifying-glass"></i>
        <%= text_field_tag :fly_from_2,
          params[:fly_from_2],
          class: "search-input-midpoint ps-5 autocomplete",
          placeholder: "Second city",
          "data-action": "selection->airport-autocomplete#complete",
          "data-airport-autocomplete-target": "inputField",
          autocomplete: "off"
        %>
    </div>

    <div class="relative">
        <i class="fa-regular fa-calendar"></i>
        <%= text_field_tag :date_from,
          params[:date_from],
          class: "search-input-midpoint ps-5",
          placeholder: "Departure date",
          as: :string,
          data: { datepicker_target: "departureDate" }
        %>
    </div>
  </div>

  <div class="submit-container-centered">
    <%= submit_tag "Search", name: "", class: "btn-midpoint btn-primary-midpoint" %>
  </div>
<% end %>
