

<div class="d-flex">
  <div>
    <% @meetup.destinations.each do |destination| %>
      <%= render "destinations/destination_card", destination: destination %>
    <% end %>
  </div>
  <div style="width: 50%; height: 500px; margin-left: 200px"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-departure-city1-lat-value="<%= @meetup.departure_city1_lat %>"
    data-map-departure-city1-lon-value="<%= @meetup.departure_city1_lon %>"
    data-map-departure-city2-lat-value="<%= @meetup.departure_city2_lat %>"
    data-map-departure-city2-lon-value="<%= @meetup.departure_city2_lon %>"
    data-map-midpoint-value="<%= @midpoint_destination %>"
    >
    <h1> <%= @midpoint_destination %></h1>
    <%# Add new values for d cities %>
  </div>
</div>
