<div
  class="container-midpoint meetups-show"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-departure-city1-lat-value="<%= @meetup.airport_from_1.latitude %>"
  data-map-departure-city1-lon-value="<%= @meetup.airport_from_1.longitude %>"
  data-map-departure-city2-lat-value="<%= @meetup.airport_from_2.latitude %>"
  data-map-departure-city2-lon-value="<%= @meetup.airport_from_2.longitude %>"
  data-map-midpoint-value="<%= @midpoint_destination %>"
>

  <div>
    <div class="mb-4">

      <%=
        link_to "Best",
        meetup_path(@meetup.id),
        class:"btn-midpoint btn-small-midpoint #{params[:sort] ? 'btn-tertiary-midpoint' : 'btn-primary-midpoint'}"
      %>

      <%=
        link_to "Cheapest",
        meetup_path(@meetup.id, sort: "total_price"),
        class:"btn-midpoint btn-small-midpoint #{params[:sort] == 'total_price' ? 'btn-primary-midpoint' : 'btn-tertiary-midpoint'}"
      %>

      <%=
        link_to "Fastest",
        meetup_path(@meetup.id, sort: "total_duration"),
        class:"btn-midpoint btn-small-midpoint #{params[:sort] == 'total_duration' ? 'btn-primary-midpoint' : 'btn-tertiary-midpoint'}"
      %>

    </div>
    <div class="cards-midpoint-grid-2">
      <% @destinations.each do |destination| %>
        <%= render "destinations/destination_card", destination: destination %>
      <% end %>
    </div>
  </div>

  <div class="sticky-container">
    <div class="d-flex w-100 justify-content-between align-items-center">
      <h4>Trips from <span class="midpoint-primary-color"><%= @meetup.city_from_1 %><span> and <span class="midpoint-primary-color"><%=  @meetup.city_from_2 %></span></h4>
      <h5><%= @destinations.first["local_departure_1"].strftime('%d/%m/%Y')%></h5>
    </div>


    <div
      style="width: 100%; height: 80vh;"
      class="card-midpoint map"
      data-map-target="mapContainer"
    >
      <%# Add new values for d cities %>
    </div>

  </div>

</div>
</div>
