<div class="navbar-form">
      <div class="flex-grow-1 mx-5">
        <%= image_tag "logo.png" %>
      </div>
        <% if user_signed_in? %>
        <ul>
          <li>
             <%= form_with url: meetups_path, method: :get, class: "d-flex justify-content-around align-items-center", data:{ controller: "datepicker"} do %>
          <li>
              <%= link_to "My Trips", meetups_path, class: "navbar-link" %>
            </li>
            <div class="relative">
              <i class="fa-solid fa-magnifying-glass absolute"></i>
              <%= text_field_tag :query,
                params[:query],
                class: "input-cities searchbar-cities form-input ps-5",
                placeholder: "First city"
              %>
            </div>
            <div class="relative">
              <i class="fa-regular fa-calendar absolute"></i>
              <%= text_field_tag :query_s_date,
                params[:query_s_date],
                class: "input-cities form-input ps-5",
                placeholder: "Second city",
                as: :string
              %>
            </div>
            <div class="relative">
              <i class="fa-regular fa-calendar absolute"></i>
              <%= text_field_tag :query_s_date,
                params[:query_s_date],
                class: "input-cities form-input ps-5",
                placeholder: "Departure date",
                as: :string,
                data: { datepicker_target: "start_date" }
              %>
            </div>
            <div>
              <%= submit_tag "Search", name: "", class: "btn-navbar btn-search" %>
              <%= link_to "Sign Up", new_user_session_path, class: "btn-navbar btn-login" %>
              <%= link_to "Login", new_user_session_path, class: "btn-navbar" %>
            </div>
            <% end %>
          </li>
        <% else %>
        <div>
            <%= link_to "My Trips", "#", class: "navbar-link" %>
            <%= link_to "Not Sure", "#", class: "navbar-link" %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M12 2.375C9.99747 2.375 8.0399 2.96882 6.37486 4.08137C4.70981 5.19392 3.41206 6.77523 2.64572 8.62533C1.87939 10.4754 1.67888 12.5112 2.06955 14.4753C2.46023 16.4393 3.42454 18.2435 4.84055 19.6595C6.25656 21.0755 8.06066 22.0398 10.0247 22.4305C11.9888 22.8211 14.0246 22.6206 15.8747 21.8543C17.7248 21.0879 19.3061 19.7902 20.4186 18.1251C21.5312 16.4601 22.125 14.5025 22.125 12.5C22.122 9.8156 21.0543 7.24199 19.1562 5.34383C17.258 3.44567 14.6844 2.37798 12 2.375ZM7.45969 18.9284C7.98195 18.2143 8.66528 17.6335 9.45418 17.2331C10.2431 16.8327 11.1153 16.624 12 16.624C12.8847 16.624 13.7569 16.8327 14.5458 17.2331C15.3347 17.6335 16.0181 18.2143 16.5403 18.9284C15.2134 19.8695 13.6268 20.375 12 20.375C10.3732 20.375 8.78665 19.8695 7.45969 18.9284ZM9.375 11.75C9.375 11.2308 9.52896 10.7233 9.8174 10.2916C10.1058 9.85995 10.5158 9.5235 10.9955 9.32482C11.4751 9.12614 12.0029 9.07415 12.5121 9.17544C13.0213 9.27672 13.489 9.52673 13.8562 9.89384C14.2233 10.261 14.4733 10.7287 14.5746 11.2379C14.6759 11.7471 14.6239 12.2749 14.4252 12.7545C14.2265 13.2342 13.8901 13.6442 13.4584 13.9326C13.0267 14.221 12.5192 14.375 12 14.375C11.3038 14.375 10.6361 14.0984 10.1438 13.6062C9.65157 13.1139 9.375 12.4462 9.375 11.75ZM18.1875 17.3694C17.4583 16.4419 16.5289 15.6914 15.4688 15.1737C16.1444 14.4896 16.6026 13.6208 16.7858 12.6769C16.9689 11.7329 16.8688 10.7558 16.498 9.86861C16.1273 8.9814 15.5024 8.22364 14.702 7.69068C13.9017 7.15771 12.9616 6.87334 12 6.87334C11.0384 6.87334 10.0983 7.15771 9.29797 7.69068C8.49762 8.22364 7.87275 8.9814 7.50198 9.86861C7.13121 10.7558 7.0311 11.7329 7.21424 12.6769C7.39739 13.6208 7.85561 14.4896 8.53125 15.1737C7.4711 15.6914 6.54168 16.4419 5.8125 17.3694C4.89661 16.2083 4.32614 14.8129 4.1664 13.3427C4.00665 11.8725 4.2641 10.3871 4.90925 9.05644C5.55441 7.72578 6.5612 6.60366 7.81439 5.81855C9.06757 5.03343 10.5165 4.61703 11.9953 4.61703C13.4741 4.61703 14.9231 5.03343 16.1762 5.81855C17.4294 6.60366 18.4362 7.72578 19.0814 9.05644C19.7265 10.3871 19.984 11.8725 19.8242 13.3427C19.6645 14.8129 19.094 16.2083 18.1781 17.3694H18.1875Z" fill="#F7F7F7"/>
            </svg>
        </div>
              <%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        <% end %>
      </ul>
</div>
