<div class= "navbar-midpoint <%= action_name == 'home' ? '' : 'background-black-transparent-navbar' %>">
  <%# LOGO %>
  <%= link_to root_path do %>
  <%= image_tag "logo.png" %>
  <% end %>

  <% if user_signed_in? %>
    <div>
      <%= link_to "", "#", class: "navbar-link" %>
      <%# <%= link_to "Not Sure", "#", class: "navbar-link" %>
    </div>
  <% end %>

  <%# All pages other than Home: %>
  <% if action_name != 'home' && action_name != 'create'%>
    <div>
      <%= render "meetups/horizontal_form"%>
    </div>
  <% end %>

  <% if !user_signed_in? %>
    <div>
      <%= link_to "Sign Up", new_user_session_path, class: "btn-midpoint btn-secondary-midpoint" %>
      <%= link_to "Login", new_user_session_path, class: "navbar-link" %>
    </div>
  <% end %>

</div>
