<div class= "navbar-midpoint">
  <%# LOGO %>
  <%= image_tag "logo.png" %>

  <% if user_signed_in? %>
    <div>
      <%= link_to "My Trips", "#", class: "navbar-link" %>
      <%= link_to "Not Sure", "#", class: "navbar-link" %>
    </div>
  <% end %>

  <%# All pages other than Home: %>
  <% if params[:action] != 'home' %>
    <div>
      <%= render "meetups/horizontal_form"%>
    </div>
  <% end %>

  <% if !user_signed_in? %>
    <div>
      <%= link_to "Sign Up", new_user_session_path, class: "btn-midpoint btn-secondary-midpoint" %>
      <%= link_to "Login", new_user_session_path, class: "navbar-link" %>
    </div>
  <% end %>

</div>
