<div class="banner-cities">
  <%= image_tag "logo.png", class: "mb-4" %>
  <h4 class="mb-3">Bringing far away friends closer together</h4>
    <div class="banner-cities-form">
      <%= form_with url: meetups_path, method: :post, class: "d-flex justify-content-center", data:{ controller: "datepicker"} do %>
      <div class="d-flex flex-row mt-3">
        <div class="relative">
          <i class="fa-solid fa-magnifying-glass absolute"></i>
          <%= text_field_tag :fly_from_1,
            params[:fly_from_1],
            class: "input-cities searchbar-cities form-input ps-5",
            placeholder: "First city"
          %>
        </div>
        <div class="relative">
          <i class="fa-solid fa-magnifying-glass absolute"></i>
          <%= text_field_tag :fly_from_2,
            params[:fly_from_2],
            class: "input-cities form-input ps-5",
            placeholder: "Second city",
            as: :string
          %>
        </div>
        <div class="relative">
          <i class="fa-regular fa-calendar absolute"></i>
          <%= text_field_tag :date_from,
            params[:date_from],
            class: "input-cities form-input ps-5",
            placeholder: "Departure date",
            as: :string,
            data: { datepicker_target: "departureDate" }
          %>
        </div>
        <div>
          <%= submit_tag "Search", name: "", class: "btn btn-primary btn-search" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
