<div class="card-midpoint destination-card-midpoint" data-controller="midpoint" data-midpoint-target="destination" data-action="mouseenter->midpoint#setMidpoint midpoint:cardHover->map#renderChange" data-midpoint-dest-id-value="<%= destination.id %>">

  <%= link_to destination_path(destination) do %>
    <%= render "destinations/city_image", destination: destination %>
    <div class="d-flex justify-content-between align-items-center">
      <div class="w-100 mb-3" style="height: 50px">
        <h4><%= destination.fly_to_city %></h4>
        <div class="d-flex justify-content-between align-items-center tag-container">
          <p class="midpoint-grey-color"><%= destination.fly_to_country %></p>
          <% if destination.is_recommended %>
            <div class="tag tag-recommended">Recommended</div>
          <% end %>
          <% if destination.is_midpoint %>
            <div class="tag tag-midpoint">Midpoint</div>
          <% end %>
          <% if destination.is_cheapest %>
            <div class="tag tag-cheapest">Cheapest</div>
          <% end %>
        </div>
      </div>

    </div>

    <br>

    <div class="d-flex justify-content-between">
    <small><%= @meetup.city_from_1 %></small>
      <small class="midpoint-grey-color"><%="%2dh %02dmin" % [destination.duration_1 / 3600, destination.duration_1 / 60 % 60 ]%></small>
      <small class="midpoint-grey-color"><%= destination.price_1.truncate %>€</small>
    </div>

    <div class="d-flex justify-content-between">
      <small><%= @meetup.city_from_2 %></small>
      <small class="midpoint-grey-color"><%="%2dh %02dmin" % [destination.duration_2 / 3600, destination.duration_2 / 60 % 60 ]%></small>
      <small class="midpoint-grey-color"><%= destination.price_2.truncate %>€</small>
    </div>

    <br>

    <div class="d-flex justify-content-between align-items-center">
      <small>Total</small>
      <h4><%= destination.total_price.truncate %>€</h5>
    </div>
  <% end %>
</div>
