<div class="card-midpoint destination-card-midpoint" data-controller="midpoint" data-midpoint-target="destination" data-action="mouseenter->midpoint#setMidpoint midpoint:cardHover->map#log" data-midpoint-dest-id-value="<%= destination.id %>">

  <%= link_to destination_path(destination) do %>
    <%= image_tag "stock/oslo-stock.jpg"%>

    <div>
      <div>
        <h4><%= destination.fly_to_city %></h4>
        <p><%= destination.fly_to_country %></p>
      </div>
      <%# Reccomended and Midpoint Tags: %>
      <% if destination.is_recommended %>
        <div class="tag tag-recommended">Recommended</div>
      <% end %>
      <% if destination.is_midpoint %>
        <div class="d-none tag tag-midpoint">Midpoint</div>
      <% end %>
    </div>
    <h5>€<%= destination.total_price %></h5>
    <p><%="%2dh%02dmin" % [destination.duration_1 / 3600, destination.duration_1 / 60 % 60 ]%> & <%="%2dh%02dmin" % [destination.duration_2 / 3600, destination.duration_2 / 60 % 60 ]%></p>
  <% end %>
</div>
