<% content_for :meta_title, "#{@destination.fly_to_city} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, @destination.city_img_url %>

<%# Back Button %>
<div class="container-midpoint flex-left-align-column mt-3 mb-3">
  <%= link_to meetup_path(@destination.meetup.id), class:"btn-midpoint btn-tertiary-midpoint btn-small-midpoint" do%>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>

<div class="container-midpoint destinations-show">

  <div class="node-map-midpoint">
    <%# Prices and Hours %>
    <div class="flight-info justify-content-end">
      <div>
        <h4><%= @destination.duration_1 / 60 / 60 %>h <%= @destination.duration_1 / 60 % 60 %>min </h4>
        <h4><%= @destination.price_1.truncate %>€</h4>
      </div>
      <div>
        <h4><%= @destination.duration_2 / 60 / 60 %>h <%= @destination.duration_2 / 60 % 60 %>min </h4>
        <h4><%= @destination.price_2.truncate %>€</h4>
      </div>
    </div>

    <%# Arrows %>
    <div class="arrow-container-midpoint">
      <div class="flip-horizontal">
        <%= image_tag "big-arrow.svg" %>
      </div>
      <div>
        <%= image_tag "big-arrow.svg" %>
      </div>
    </div>

    <%# Cities %>
    <div class="cities-container-midpoint">
      <h1><%= @destination.meetup.city_from_1 %></h1>
      <h1 class="fly-to-city"><%= @destination.fly_to_city %></h1>
      <h1><%= @destination.meetup.city_from_2 %></h1>
    </div>
  </div>

  <%# Summary section%>
  <div class="summary-section-midpoint">
    <div class="card-midpoint">
      <%= render "city_image", destination: @destination %>
      <% if @destination.airport_to.suggestions.present? %>
        <div class="open-ai-text">
          <p><b>Here is what you could see in <%=@destination.airport_to.city_name%>:</b></p>
          <%= simple_format @destination.airport_to.suggestions.gsub("\n", "\n\n\n") %>
        </div>
       <%end%>
    </div>

    <div>
      <%= render "flight_summary_card", destination: @destination, flight: 1 %>
      <%= render "flight_summary_card", destination: @destination, flight: 2 %>

      <div class="card-midpoint">
        <div class="d-flex justify-content-between">
          <h4>Total</h4>
          <h4><%= @destination.total_price.truncate %>€</h4>
        </div>
        <div class="d-flex justify-content-between">
          <p class="midpoint-grey-color">Total per person</p>
          <p class="midpoint-grey-color"><%= @destination.total_price.truncate/2 %>€</p>
        </div>
      </div>
    </div>
  </div>
</div>
