<%# Back Button %>
<div class="container-midpoint flex-left-align-column mt-3 mb-3">
  <%= link_to meetup_path(@destination.meetup.id), class:"btn-midpoint btn-tertiary-midpoint btn-small-midpoint" do%>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>


<div class="container-midpoint destinations-show">

  <div class="node-map-midpoint">
    <%# Prices and Hours %>
    <div class="flight-info justify-content-end">
      <div>
        <h4><%= @destination.duration_1 / 60 / 60 %>h <%= @destination.duration_1 / 60 % 60 %>min </h4>
        <h4>€<%= @destination.price_1 %></h4>
      </div>
      <div>
        <h4><%= @destination.duration_2 / 60 / 60 %>h <%= @destination.duration_2 / 60 % 60 %>min </h4>
        <h4>€<%= @destination.price_2 %></h4>
      </div>
    </div>

    <%# Arrows %>
    <div class="arrow-container-midpoint">
      <div class="flip-horizontal">
        <%= image_tag "big-arrow.svg" %>
      </div>
      <div>
        <%= image_tag "big-arrow.svg" %>
      </div>
    </div>

    <%# Cities %>
    <div class="cities-container-midpoint">
      <h1><%= @destination.meetup.city_from_1 %></h1>
      <h1 class="fly-to-city"><%= @destination.fly_to_city %></h1>
      <h1><%= @destination.meetup.city_from_2 %></h1>
    </div>
  </div>



  <%# Summary section%>
  <div class="summary-section-midpoint">
    <div class="map card-midpoint">
      Map
    </div>

    <div>
      <%= render "flight_summary_card", destination: @destination, flight: 1 %>
      <%= render "flight_summary_card", destination: @destination, flight: 2 %>

      <div class="card-midpoint d-flex justify-content-between">
        <h4>Total</h4>
        <h4>€<%= @destination.total_price %></h4>
      </div>
    </div>
  </div>


</div>
